* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #f5f7fb;
  color: #293264;
}

h1,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.3em;
  letter-spacing: 0.1em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  /* letter-spacing: 0.1em; */
}

.button {
  padding: 0.5em 1.8em;
  font-size: 0.6rem;
  border-radius: 10px;
  border: 1px solid #4d5b9e;
  display: block;
  cursor: pointer;
  /* background-color: #d6dbf5; */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.welcome-screen__text {
  margin-bottom: 2em;
}

.welcome-screen__button {
  font-size: 1.5rem;
  /* padding: 0.5em 2.5em; */
  color: #f5f7fb;
  background-color: #4d5b9e;
  font-weight: 500;
}

.quizz-game {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quizz-game__button {
  font-size: 1.3rem;
}

.question {
  margin: 1em;
  width: 100%;
}
.question__text {
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
}

.question__answer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2em 0;
}

.question__answer {
  border-radius: 8px;
  padding: 0.5em 1.8em;
  font-size: 1rem;
}

.question__answer.correct {
  border-radius: 8px;
  padding: 0.5em 1.8em;
  font-size: 1rem;
  background-color: rgb(151, 199, 79);
}

.question__answer.wrong {
  border-radius: 8px;
  padding: 0.5em 1.8em;
  font-size: 1rem;
  background-color: rgb(199, 79, 79);
}

.question__answer.selected {
  background-color: #d6dbf5;
}
